*.md linguist-detectable=true
*.md linguist-documentation=false
*.toml linguist-detectable=true
*.toml linguist-documentation=false
*.lock linguist-detectable=true
*.lock linguist-documentation=false
